<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <title>Home</title>
</head>
<body>

<div layout:fragment="content">
    <div class="jumbotron main-content">
        <h1>Welcome to 'Security Application' module of Java Mentoring Program</h1>
    </div>
    <div class="container">
        <h3>What do you want to check?</h3>
        <ul>
            <li><a th:href="@{/about}">Page for any user</a></li>
            <li><a th:href="@{/info}">Page for authenticated user</a></li>
            <li><a th:href="@{/admin}">Page for admin</a></li>
            <li><a th:href="@{/api/blocked-users}">Blocked users (only for admin)</a></li>
        </ul>
    </div>
</div>

</body>
</html>