<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cooking Statistics</title>
</head>
<body>
<div>
    <h3>Key Cooking Statistics and Facts</h3>
    <ul>
        <li>About 36% of Americans cook at home on a daily basis.</li>
        <li>13.7% of those surveyed prepare their meals at home because of a strong passion for cooking.</li>
        <li>As a result of the pandemic, Americans are both cooking (54%) and baking (46%) more.</li>
        <li>UK citizens reluctantly spend time in the kitchen—and takeout app orders seem to have tripled between 2013
            and 2018.
        </li>
        <li>Culinary Tablets kept at Yale, dating from 1700 BCE, are the world’s oldest documented recipes.</li>
        <li>Some celebratory pies served in 16th century England contained live animals.</li>
        <li>According to the cooking statistics, 50% of Americans became eager to learn about cooking during the
            Coronavirus pandemic.
        </li>
        <li>Women who prefer to cook from scratch after gaining recipe information on food TV shows tend to have a
            higher BMI than those who don’t.
        </li>
        <li>There’s a type of fish served in Japan that requires a chef to get a special license before being allowed to
            serve it.
        </li>
        <li>American pandemic cooking includes more and more seafood.</li>
    </ul>

    <span>Source:
        <a href="https://comfyliving.net/cooking-statistics">https://comfyliving.net/cooking-statistics</a>
    </span>

</div>

</body>
</html>